<ul class="nav navbar-nav no-borders">
  <li class="dropdown" data-toggle="tooltip" title="Feedback" data-placement="bottom">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
      <i class="pe-7s-comment"></i>
    </a>
    <div class="dropdown-menu hdropdown bigmenu animated flipInX" style="width:400px">
      <form id="feedback">
        <p>Found a bug? Have a suggestion? Please drop your comment in this box and hit submit. Thanks!<p/>
        <input class="form-control m-b-sm" name="title" placeholder="Title">
        <textarea name="body" rows=6 class="form-control" placeholder="Describe the issue or your suggestion."></textarea>
        <button type="submit" class="btn btn-sm btn-success m-t-sm">Submit</button>
      </form>
    </div>
  </li>
  {% comment %}
  <li class="dropdown" data-toggle="tooltip" title="Menu" data-placement="bottom">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
      <i class="pe-7s-keypad"></i>
    </a>
    <div class="dropdown-menu hdropdown bigmenu animated flipInX">
      <table>
        <tbody>
          <tr>
            <td>
              <a href="projects.html">
                <i class="pe pe-7s-portfolio text-info"></i>
                <h5>Projects</h5>
              </a>
            </td>
            <td>
              <a href="mailbox.html">
                <i class="pe pe-7s-mail text-warning"></i>
                <h5>Email</h5>
              </a>
            </td>
            <td>
              <a href="contacts.html">
                <i class="pe pe-7s-users text-success"></i>
                <h5>Contacts</h5>
              </a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="forum.html">
                <i class="pe pe-7s-comment text-info"></i>
                <h5>Forum</h5>
              </a>
            </td>
            <td>
              <a href="analytics.html">
                <i class="pe pe-7s-graph1 text-danger"></i>
                <h5>Analytics</h5>
              </a>
            </td>
            <td>
              <a href="file_manager.html">
                <i class="pe pe-7s-box1 text-success"></i>
                <h5>Files</h5>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </li>
  <li class="dropdown" data-toggle="tooltip" title="Notifications" data-placement="bottom">
    <a class="dropdown-toggle label-menu-corner" href="#" data-toggle="dropdown">
      <i class="pe-7s-mail"></i>
      <span class="label label-success">4</span>
    </a>
    <ul class="dropdown-menu hdropdown animated flipInX">
      <div class="title">
          You have 4 new messages
        </div>
        <li>
          <a>
            It is a long established.
          </a>
        </li>
        <li>
          <a>
            There are many variations.
          </a>
        </li>
        <li>
          <a>
            Lorem Ipsum is simply dummy.
          </a>
        </li>
        <li>
          <a>
            Contrary to popular belief.
          </a>
        </li>
        <li class="summary"><a href="#">See All Messages</a></li>
    </ul>
  </li>
  {% endcomment %}
  <li>
    <a href="" data-toggle="tooltip" title="Changelog" data-placement="bottom">
      <i class="pe-7s-upload pe-7s-news-paper"></i>
    </a>
  </li>
  <li >
    <a href="{% url 'user:logout' %}"  data-toggle="tooltip" title="Logout" data-placement="bottom">
      <i class="pe-7s-upload pe-rotate-90"></i>
    </a>
  </li>
</ul>
