{% extends "dashboard/base.html" %}
{% load i18n %}
{% load as_vertical_form from bootstrap %}
{% load bootstrap3 %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url 'profile:details' %}">{% trans "Your profile" %}</a></li>
<li class="active">{% trans "Change password" %}</li>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
  <div class="col-sm-6">
    <div class="hpanel">
      <div class="panel-body">
        <form method="post">
          {% csrf_token %}
          {{ form|as_vertical_form }}
          <input type="hidden" name="next" value="{{ next }}" />
          <div class="form-group">
            <button class="btn btn-primary">
              {% trans "Update password" %}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
