{% extends "registration/base.html" %}
{% load as_vertical_form from bootstrap %}
{% load i18n %}

{% block title %}{% trans "Register or reset your password" %} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="#">{% trans "Register or reset your password" %}</a></li>
{% endblock breadcrumb %}

{% block content %}
  <h4>Reset your password</h4>
  <form method="post">
      {% csrf_token %}
      <p>Enter your email below and we will send you an email with a link to reset your password.</p>
      <fieldset>
          {{ form|as_vertical_form }}
          <input type="hidden" name="next" value="{{ next }}" />
      </fieldset>
      <button class="btn btn-success btn-block">
          {% trans "Continue" %}
      </button>
      <a class="btn btn-default btn-block" href="{% url 'registration:login' %}">
          {% trans "Back to login" %}
      </a>
  </form>

{% endblock %}
