{% extends "registration/base.html" %}
{% load i18n %}
{% load as_horizontal_form from bootstrap %}
{% load bootstrap3 %}

{% block title %}{% trans "Set password" %}{% endblock %}

{% block content %}
<form method="post" class="form-horizontal">
  {% csrf_token %}
  <div class="col-lg-12">

    {% bootstrap_field form.new_password1 show_label=False %}
    {% bootstrap_field form.new_password2 show_label=False %}

  </div>
  <button class="btn btn-success btn-block">
      {% trans "Set password" %}
  </button>
</form>

{% endblock %}
