{% extends 'products/product_list.html' %}
{% load bootstrap3 %}

{% block title %}{{ object }}{% endblock %}

{% block actions %}
<a class="btn btn-primary btn-sm" href="{% url 'product-update' object.pk %}">Edit</a>
<a class="btn btn-danger btn-sm" href="{% url 'product-delete' object.pk %}">Delete</a>
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'product-detail' object.pk %}">{{ object }}</a></li>
{% endblock %}

{% block content %}
<div class="hpanel">
	<div class="panel-body">
		<div class="row">
			<div class="form-group col-md-6">
				<label>Title</label>
				<p class="form-control-static">{{ object.title }}</p>
			</div>
			<div class="form-group col-md-6">
				<label>Vendor</label>
				<p class="form-control-static">{{ object.vendor }}</p>
			</div>
		</div>
		<div class="form-group">
			<label>Description</label>
			{{ object.body_html|safe }}
		</div>
		<div class="row">
			<div class="form-group col-md-3">
				<label>Handle</label>
				<p class="form-control-static">{{ object.handle }}</p>
			</div>
			<div class="form-group col-md-3">
				<label>Product Type</label>
				<p class="form-control-static">{{ object.product_type }}</p>
			</div>
		</div>

	</div>
</div>

{% endblock %}
