{% extends 'products/product_list.html' %}
{% load bootstrap3 %}

{% block title %}{{ object }}{% endblock %}

{% block actions %}
<a class="btn btn-primary btn-sm" href="{% url 'product-update' object.pk %}">Edit</a>
<a class="btn btn-danger btn-sm" href="{% url 'product-delete' object.pk %}">Delete</a>
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'product-detail' object.pk %}">{{ object }}</a></li>
{% endblock %}

{% block content %}
<div class="hpanel">
	<div class="panel-body">
		<div class="form-group">
			<label>Title</label>
			<p class="form-control-static">{{ object.title }}</p>
		</div>
	</div>
</div>

{% endblock %}
