{% extends 'base.html' %}
{% load bootstrap3 %}
{% load bootstrap_pagination %}

{% block title %}Products{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url 'product-list' %}">Products</a></li>
{% endblock %}

{% block actions %}
<a class="btn btn-primary" href="{% url 'product-create' %}">Add Product</a>
{% endblock %}

{% block content %}
<div class="hpanel">
  <div class="panel-body">
    <form>
      {% csrf_token %}
      <div class="row">
        <div class="col-md-4">{% bootstrap_field form.name %}</div>
        <div class="col-md-4">{% bootstrap_field form.sku %}</div>
      </div>
      <button class="btn btn-primary">Search</button>
    </form>
  </div>
</div>
<div class="hpanel">
  <div class="panel-body">
    <table class="table table-striped" data-filter="#filter">
      <thead>
        <tr>
          <th>Name</th>
          <th>Vendor</th>
          <th>Type</th>
          <th class="text-right">Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for object in object_list %}
      <tr>
        <td><a href="{% url 'product-detail' object.pk %}">{{ object.title }}</a></td>
        <td>{{ object.vendor }}</td>
        <td>{{ object.product_type }}</td>
        <td class="text-right">
          <a href="{% url 'product-detail' object.pk %}"><i class="fa fa-eye"></i></a>
          <a href="{% url 'product-update' object.pk %}"><i class="fa fa-pencil"></i></a>
          <a href="{% url 'product-delete' object.pk %}"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
      {% empty %}
      <tr><td colspan="4" class="text-center">There are no products.</td></tr>
      {% endfor %}
      </tbody>
    </table>
    {% bootstrap_paginate page_obj range=10 %}
  </div>
</div>

{% endblock %}
