{% extends 'schedule/schedule_list.html' %}
{% load bootstrap3 %}

{% block title %}Delete {{ object }}?{% endblock %}

{% block actions %}{% endblock %}

{% block content %}
<div class="hpanel">
	<div class="panel-body">
		<form method="post">
			{% csrf_token %}
      <p>Are you sure you want to delete this schedule?</p>
			<button class="btn btn-danger">Delete</button>
			<a class="btn btn-default" href="{% url 'schedule-delete' object.pk %}">Cancel</a>
    </form>
  </div>
</div>
{% endblock %}
